#main {
    text-align:center;
    background-color: hsla(149, 0%, 50%, 0.15);
    border-radius:0.8%;
    padding: 20px;
}
#image {
    position: relative;    
    height: auto;
    max-width: 100%;
    border-radius:5%;
    text-align: center;
}
#img-div {
    background-color: white;
    padding:50px;
    border-radius:0.8%
}
ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}