#tributeimage {
    display:flex;
    justify-content:center;
    background-color: whte;
    padding-top:10px;
    padding-bottom:10px;
}
img {
    border-radius: 2%;
    display: block;
    max-width:100%;
    height:auto;
}
#main {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    background-color:hsla(152, 0%, 50%, 0.23);
    padding:20px;
    border-radius: 0.8%;
    margin:0;
}
